.film__app-wrapper {
  display: flex;
  margin-top: 60px;
}
.sort__menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 70px;
  justify-content: space-between;
  max-width: 360px;
  height: 840px;
  padding-left: 10px;
  margin-right: 40px;
}
